// Variables
$pink: hsl(0, 36%, 70%);
$red: hsl(0, 93%, 68%);
$black: hsl(0, 6%, 24%);

  // Gradients:
  $color1: hsl(0, 0%, 100%);
  $color2: hsl(0, 100%, 98%);
  $color3: hsl(0, 80%, 86%);
  $color4: hsl(0, 74%, 74%);